.icon-menu-btn::after{
    content: '';
    width : 20px;
    border-bottom: 1px solid black;
    bottom: -8px;
    position: absolute;
    transition: transform 0.5s;
}
.icon-menu-btn::before{
    content: '';
    width : 20px;
    border-top: 1px solid black;
    top: -7px;
    position: absolute;
    transition: transform 0.5s;
}
.icon-menu-btn{
    border-bottom: 1px solid black;
    width: 20px;
    position: absolute;
    top : 50%;
}

.icon-menu-btn.close::after{
    transform: rotateZ(-45deg);
    bottom : -1px;
}
.icon-menu-btn.close::before{
    transform: rotateZ(45deg);
    top : 0px;
}
.icon-menu-btn.close{
    border-bottom: none;
}