html, body{
    margin: 0px;
    background-color: white;
}

.card-list{
    width : 100%;
    display: flex;
    padding: 0px;
}

.card-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}
.card-item:first-child{
    margin: 0px 20px 0px 0px;
}
.card-item:last-child{
    margin: 0px 0px 0px 20px;
}

.card-1{
    width : 100%;
    height: calc( 100% / 6);
}
.card-2{
    width : 100%;
    height: calc( 200% / 6);
}
.card-3{
    width : 100%;
    height: calc( 300% / 6);
}
.card-4{
    width : 100%;
    height: calc( 400% / 6);
}
.card-5{
    width : 100%;
    height: calc( 500% / 6);
}
.card-6{
    width : 100%;
    height: 100%;
}

.wt-1{
    width: calc(100% / 12);
}
.wt-2{
    width: calc(100% / 12 * 2);
}
.wt-3{
    width: calc(100% / 12 * 3);
}
.wt-4{
    width: calc(100% / 12 * 4);
}
.wt-5{
    width: calc(100% / 12 * 5);
}
.wt-6{
    width: calc(100% / 12 * 6);
}
.wt-7{
    width: calc(100% / 12 * 7);
}
.wt-8{
    width: calc(100% / 12 * 8);
}
.wt-9{
    width: calc(100% / 12 * 9);
}
.wt-10{
    width: calc(100% / 12 * 10);
}
.wt-11{
    width: calc(100% / 12 * 11);
}
.wt-12{
    width: calc(100% / 12 * 12);
}